.darkTheme {
  filter: contrast(0.8);
}

.menuContent {
  position: relative;
  width: max-content;
}

.menuGroupTitle {
  font-weight: bold;
  padding: 8px;
}

.menuItem {
  color: var(--primary-contrast);
  background-color: var(--background);
  border: unset;
  display: block;
  padding: 6px 12px;
  text-align: left;
  width: 100%;

  &:hover,
  &:focus {
    filter: contrast(0.7);
    cursor: pointer;
    outline: unset;
  }
}

.menuList {
  background-color: var(--background);
  border-radius: 6px;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.10);
  min-width: 14rem;
  padding-bottom: 8px;
  padding-top: 8px;
}
