.drawer {
  height: 100%;
  overflow: auto;
  position: absolute;
  top: 0;
  z-index: var(--drawerZ);
  padding-top: 20px;
  box-sizing: border-box;
  background-color: var(--background);
  border-right: 1px solid var(--accent);

  &.short {
    width: 20%;
  }

  &.full {
    width: 100%;
  }
}

.left {
  left: 0;
  transition: left .5s;

  &.closed {
    left: -100%;
  }
}

.right {
  right: 0;
  transition: right .5s;

  &.closed {
    right: -100%;
  }
}
