body{
  width: 90%;
  margin: 0;
  padding: 0;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

span{
  border: 1px solid burlywood;
}

button{
  color: white;
  background-color: red;
}
button:hover{
  background-color: lightcoral;
}
